@mixin font-face($font-family, $font-weight, $font-style, $font-src, $swap-src) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: swap;
    src: $font-src, $swap-src;
  }
}

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}
