/* здесь используйте глобальные переменные */
//colors
$white: #ffffff;
$black: #000000;
$black_gray: #111111;
$Burning_black: #222222;
$dark-grey: #3e3e3e;
$special_dark-grey: #444444;
$medium_dark-grey: #666666;
$dove-grey: #6b6b6b;
$light-grey: #d9d9d9;
$silver-grey: #bababa;
$very_light-grey: #cdcdcd;
$white-smoke: #ebebeb;
$grey: #d3d3d3;
$basic_grey: #f2f2f2;
$whisper: #e6e6e6;
$whisper_dark: #eaeaea;
$basic_green: #68b738;
$background_green: rgba(104, 183, 56, 0.85);
$basic_dark-green: #5eaa2f;

//fonts
$primary-font: "Oswald", "Helvetica", sans-serif;
$second-font: "Lato", "Tahoma", sans-serif;

//media
$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
