@charset "UTF-8";
/* GLOBAL */
/* здесь используйте глобальные переменные */
/* здесь используйте глобальные селекторы img, body, html и так далее*/
@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../../fonts/oswald/oswaldregular.woff2") format("woff2");
}
@font-face {
  font-family: "Lato";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../../fonts/lato/Lato-Regular.woff2") format("woff2");
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  line-height: 27px;
}

/* BLOCKS */
.main-header {
  color: #000000;
}

.nav {
  color: #000000;
  text-decoration: none;
}
.nav__link {
  font-family: "Oswald", sans-serif;
  color: #000000;
  text-decoration: none;
}

.main-footer {
  color: #000000;
  background-color: #f2f2f2;
}

.promo__title {
  color: #ffffff;
  font-weight: 400;
  text-align: center;
  font-size: 36px;
  line-height: 36px;
}
.promo__subtitle {
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}
.promo__find-program {
  background-color: #68b738;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  text-decoration: none;
}

.programms-list .programms-item__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}
.programms-list .programms-item__descripton {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
.programms-list .programms-item__link {
  font-family: "Oswald", sans-serif;
  color: #000000;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
.programms-list .how-it-works__point {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.how-it-works__title {
  font-size: 24px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}
.how-it-works__point {
  font-family: "Lato", sans-serif;
  color: #444444;
  font-size: 14px;
  line-height: 18px;
}

.living-example .living-example__title {
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  font-weight: 400;
}
.living-example .living-example__description {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
.living-example .benefit__title {
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}
.living-example .benefit__caption {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 100%;
}
.living-example .living-example__result-title {
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.contacts {
  background-color: #ffffff;
}
.contacts__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}
.contacts__address {
  font-family: "Lato", sans-serif;
  color: #444444;
  font-size: 14px;
  line-height: 20px;
}

.html-academy__link {
  color: #444444;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.product-card__name {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}
.product-card .settings-item {
  font-family: "Lato", sans-serif;
  color: #444444;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  text-align: center;
}
.product-card__add-to-cart {
  background-color: #68b738;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
}

.products__item--show-more .products__item-title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}
.products__item--show-more .products__item-caption {
  color: #444444;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 16px;
}
.products__item--show-more .products__item-show {
  color: #444444;
  background-color: #f2f2f2;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
}

.auxiliary-products__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
}
.auxiliary-products__name {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}
.auxiliary-products__count {
  font-family: "Lato", sans-serif;
  color: #444444;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}
.auxiliary-products__value {
  font-family: "Oswald", sans-serif;
  color: #444444;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}
.auxiliary-products__sale {
  font-family: "Lato", sans-serif;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
}

.form__title {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}
.form__label {
  color: #444444;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}
.form__cat-settings {
  color: #444444;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}
.form__cat-settings::-moz-placeholder {
  font-family: "Oswald", sans-serif;
  color: #444444;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  opacity: 1;
}
.form__cat-settings::placeholder {
  font-family: "Oswald", sans-serif;
  color: #444444;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  opacity: 1;
}
.form__feedback-input {
  color: #444444;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}
.form__feedback-input::-moz-placeholder {
  font-family: "Oswald", sans-serif;
  color: #444444;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  opacity: 1;
}
.form__feedback-input::placeholder {
  font-family: "Oswald", sans-serif;
  color: #444444;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  opacity: 1;
}
.form__coment-input {
  color: #444444;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}
.form__coment-input::-moz-placeholder {
  font-family: "Oswald", sans-serif;
  color: #444444;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  opacity: 1;
}
.form__coment-input::placeholder {
  font-family: "Oswald", sans-serif;
  color: #444444;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  opacity: 1;
}
.form__submit {
  font-family: "Oswald", sans-serif;
  color: #ffffff;
  background-color: #68b738;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
.form__legend {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}/*# sourceMappingURL=styles.css.map */