.auxiliary-products {
  border-top: 2px solid $basic_green;
}

.auxiliary-products__container {
  padding-bottom: 37px;

  @media (min-width: $tablet-width) {
    padding-bottom: 75px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 90px;
  }
}

@media (min-width: $desktop-width) {
  .auxiliary-products__wrapper {
    display: grid;
    grid-template-columns:894px 245px;
    gap: 81px;
  }
}

.auxiliary-products__list {
  @include list-reset;
  padding-top: 12px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding-top: 52px;
  }

  @media (min-width: $desktop-width) {
    max-width: 894px;
    padding-top: 50px;
  }
}

.auxiliary-product {
  padding-top: 14px;
  padding-bottom: 18px;
  border-top: 1px solid $very_light-grey;
  border-bottom: none;
  display: grid;
  grid-template-columns: 130px 1fr;
  min-width: 280px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 180px 1fr 44px;
    grid-column-gap: 50px;
    grid-row-gap: 22px;
    padding: 26px 37px 27px;
    width: 100%;
    align-items: baseline;
  }

  &:last-child {
    border-bottom: 1px solid $very_light-grey;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 326px 241px 46px 244px;
    padding: 15px 0 16px;
    max-width: 894px;
    gap: 0;
  }
}

.auxiliary-products__title {
  @include indent-reset;
  display: inline-block;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  transform: translateY(-17px) translateX(-20px);
  background-color: $white;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    transform: translateY(-24px) translateX(-1px);
    font-size: 36px;
    padding-left: 40px;
    padding-right: 40px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    transform: translateY(-24px) translateX(-40px);
  }
}

.auxiliary-products__name {
  @include indent-reset;
  display: flex;
  color: $black_gray;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    align-items: flex-start;
    padding-left: 1px;
    font-size: 20px;
    line-height: 20px;
    grid-column-start: 1;
    grid-column-end: 1;
  }
}

.auxiliary-products__count {
  @include indent-reset;
  font-family: $second-font;
  color: $special_dark-grey;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-align: left;

  @media (min-width: $tablet-width) {
    text-align: right;
    font-size: 16px;
    line-height: 20px;
    padding-top: 2px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.auxiliary-products__value {
  @include indent-reset;
  font-family: $second-font;
  color: $special_dark-grey;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-align: right;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    padding-right: 3px;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}

.auxiliary-products__sale {
  @include indent-reset;
  padding-top: 188px;
  margin-top: 35px;
  position: relative;
  display: block;
  min-width: 200px;
  min-height: 289px;
  font-family: $second-font;
  color: $white;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  background-image: image-set("../../images/auxiliary-products/sale-mobile@1x.jpg" 1x,
    "../../images/auxiliary-products/sale-mobile@1x.jpg" 2x);
  background-repeat: no-repeat;
  background-position: center;
  background-color: $background_green;
  background-size: cover;

  &::before {
    content: "";
    width: 78px;
    height: 80px;
    background-image: url("../../images/icons/stack.svg#gift-mobile");
    position: absolute;
    top: 59px;
    left: 50%;
    transform: translateX(-50%);
  }

  @media (min-width: $tablet-width) {
    margin-top: 69px;
    padding: 70px 20px 70px 420px;
    min-height: 200px;
    text-align: left;
    background-image: image-set("../../images/auxiliary-products/sale-tablet@1x.jpg" 1x,
      "../../images/auxiliary-products/sale-tablet@1x.jpg" 2x);

    &::before {
      background-image: url("../../images/icons/stack.svg#gift-tablet");
      width: 80px;
      height: 83px;
      top: 57px;
      left: 77px;
      transform: none;
    }
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    padding: 185px 0 0;
    margin-top: 52px;
    background-image: image-set("../../images/auxiliary-products/sale-desktop@1x.jpg" 1x,
      "../../images/auxiliary-products/sale-desktop@1x.jpg" 2x);

    &::before {
      top: 56px;
      left: 84px;
    }
  }
}

.auxiliary-products__buy {
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 3;
  margin-top: 15px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    max-width: 700px;
    min-width: 632px;
    grid-column-start: 1;
    grid-column-end: 4;
  }

  @media (min-width: $desktop-width) {
    min-width: 200px;
    max-width: 244px;
    grid-column-start: initial;
    grid-column-end: initial;
  }

  @media (min-width: $desktop-width) {
    margin-left: 38px;
  }
}
