.burger {
  display: flex;
  align-items: center;
  background-color: $white;
  border: none;
  position: relative;
  width: 24px;
  height: 24px;
  cursor: pointer;
  order: 3;
}

.burger__line {
  position: absolute;
  background-color: $black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 2px;
  transition: 1s;
}

.burger__line::before,
.burger__line::after {
  content: "";
  position: absolute;
  background-color: $black;
  transition: 0.5s;
  width: 24px;
  height: 2px;
  left: 0;
}

.burger__line::before {
  top: -8px;
}

.burger__line::after {
  top: 8px;
}
