.button {
  display: inline-block;
  font-family: $primary-font;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
}

.button--primary {
  background-color: $basic_green;
  color: $white;

  &:hover {
    background-color: $basic_dark-green;
  }

  &:active {
    background-color: $basic_dark-green;
    color: rgba(225, 225, 225, 0.3);
  }
}

.button--secondary {
  background-color: $basic_grey;
  color: $special_dark-grey;

  &:hover {
    background-color: $basic_dark-grey;
  }
}
