.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
    max-width: 738px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 106px;
    padding-right: 106px;
    max-width: 1200px;
  }
}
