.contacts {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  background-color: $white;
}

.contacts__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 26px;
  padding-bottom: 26px;

  @media (min-width: $tablet-width) {
    padding: 61px 39px;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 78px 60px 80px;
    position: absolute;
    z-index: 5;
    top: 95px;
    left: 110px;
    width: 566px;
    height: 199px;
    max-width: none;
    background-color: $white;
  }
}

.contacts__map-wrapper {
  background-color: $basic_grey;
  position: relative;
  width: 320px;
  height: 362px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 768px;
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    height: 400px;
  }
}

.contacts__map-image {
  position: absolute;
  width: 320px;
  height: 362px;

  @media (min-width: $tablet-width) {
    width: 768px;
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    height: 400px;
  }
}

.contacts__map-iframe {
  position: absolute;
  border: none;
  z-index: 1;
  top: 0;
  left: 0;
  height: 362px;
  width: 320px;

  @media (min-width: $tablet-width) {
    height: 400px;
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
  }
}

.contacts__title {
  @include indent-reset;
  color: $Burning_black;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  min-width: 140px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__address {
  @include indent-reset;
  min-width: 140px;
  font-family: $second-font;
  color: $special_dark-grey;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    text-align: right;
    max-width: 157px;
    min-height: 80px;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}
