.form__description {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.form__title {
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  text-transform: uppercase;
}

.form__label {
  color: $special_dark-grey;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.form__cat-settings {
  color: $special_dark-grey;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  appearance: textfield;
}

.form__cat-settings::placeholder {
  font-family: $primary-font;
  color: $special_dark-grey;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  opacity: 1;
}

.form__feedback-input {
  color: $special_dark-grey;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  mask-position: right;
  mask-size: 20px 20px;
  mask-repeat: no-repeat;
  background-color: $black;

  &--email {
    mask-image: url("../../images/icons/stack.svg#e-mail");
  }

  &--phone {
    mask-image: url("../../images/icons/stack.svg#phone");
  }
}

.form__feedback-input::placeholder {
  font-family: $primary-font;
  color: $special_dark-grey;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  opacity: 1;
}

.form__comment-input {
  color: $special_dark-grey;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.form__comment-input::placeholder {
  font-family: $primary-font;
  color: $special_dark-grey;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  opacity: 1;
}

.form__radio-input {
  appearance: none;
}

.form__radio-input {
  background-color: $white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: $very_light-grey 1px solid;

  &:checked {
    background-image: url("../../images/icons/stack.svg#radio-button-checked-mobile");
  }
}

.form__checkbox {
  appearance: none;
  width: 30px;
  height: 30px;
  background-color: $white;
  border: $very_light-grey 1px solid;

  &:checked {
    background-image: url("../../images/icons/stack.svg#tick-mobile");
  }
}

.form__submit {
  font-family: $primary-font;
  color: $white;
  background-color: $basic_green;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.form__legend {
  font-family: $second-font;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
}
