.how-it-works__points {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex-direction: column;
  padding-bottom: 49px;

  @media (min-width: $tablet-width) and  (max-width: $desktop-width - 1) {
    display: grid;
    grid-template-columns: repeat(2, 246px);
    gap: 37px 138px;
    padding-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px 80px;
    padding-bottom: 32px;
  }
}

.how-it-works__title {
  @include indent-reset;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.how-it-works__point {
  @include indent-reset;
  position: relative;
  font-family: $second-font;
  color: $special_dark-grey;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;

  &::before {
    content: "";
    display: block;
    min-width: 60px;
    min-height: 60px;
    background-repeat: no-repeat;
    background-size: 60px 60px;
    background-position: center;
  }

  &--natural::before {
    background-image: url("../../images/icons/stack.svg#leaf");
  }

  &--fast-food::before {
    background-image: url("../../images/icons/stack.svg#chemicals");
  }

  &--nutritious::before {
    background-image: url("../../images/icons/stack.svg#food-appliances");
  }

  &--fast-result::before {
    background-image: url("../../images/icons/stack.svg#clock");
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    padding-top: 32px;
    flex-direction: column;
    align-items: flex-start;
    min-height: 280px;
    gap: 32px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 30px;
    gap: 33px;
  }
}

@media (min-width: $tablet-width) {
  .how-it-works__point::before {
    min-width: 80px;
    min-height: 80px;
    background-size: 80px 80px;
  }

  .how-it-works__point::after {
    content: "1";
    font-family: $primary-font;
    color: $basic_grey;
    font-size: 280px;
    line-height: 280px;
    text-align: center;
    z-index: -1;
    position: absolute;
    top: -8px;
    left: 112px;
  }

  .how-it-works__point--natural::before {
    background-image: url("../../images/icons/stack.svg#leaf-tablet");
  }

  .how-it-works__point--fast-food::before {
    background-image: url("../../images/icons/stack.svg#chemicals-tablet");
  }

  .how-it-works__point--nutritious::before {
    background-image: url("../../images/icons/stack.svg#food-appliances-tablet");
  }

  .how-it-works__point--fast-result::before {
    background-image: url("../../images/icons/stack.svg#clock-tablet");
  }

  .how-it-works__point--natural::after {
    content: "1";
    left: 118px;
  }

  .how-it-works__point--fast-food::after {
    content: "2";
  }

  .how-it-works__point--nutritious::after {
    content: "3";
  }

  .how-it-works__point--fast-result::after {
    content: "4";
  }
}


@media (min-width: $desktop-width) {
  .how-it-works__point--natural::before {
    background-image: url("../../images/icons/stack.svg#leaf-desktop");
  }

  .how-it-works__point--fast-food::before {
    background-image: url("../../images/icons/stack.svg#chemicals-desktop");
  }

  .how-it-works__point--nutritious::before {
    background-image: url("../../images/icons/stack.svg#food-appliances-desktop");
  }

  .how-it-works__point--fast-result::before {
    background-image: url("../../images/icons/stack.svg#clock-desktop");
  }
}

.how-it-works__line-translation {
  display: contents;

  @media (min-width: $tablet-width) {
    display: block;
    margin-top: -34px;
  }
}
