.html-academy__link {
  display: flex;
  min-width: 280px;
  align-items: center;
  justify-content: space-between;
  color: $special_dark-grey;
  font-family: $second-font;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  max-height: 34px;

  &::after {
    width: 27px;
    height: 34px;
    content: "";
    display: block;
    mask-image: url("../../images/icons/stack.svg#html-academy");
    mask-size: 27px 34px;
    mask-position: right;
    background-color: $medium_dark-grey;
  }

  &:hover {
    &::after {
      background-color: $basic_green;
    }
    color: $special_dark-grey;
  }

  &:active {
    &::after {
      background-color: $basic_green;
    }
    color: $special_dark-grey;
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    min-width: 150px;
    max-width: 168px;
    gap: 21px;
    max-height: 27px;
  }
}
