.logo-text {
  display: block;
  width: 113px;
  height: 20px;
  mask-size: 113px 20px;
  mask-position: center;
  mask-repeat: no-repeat;
  mask-image: url("../../images/icons/stack.svg#footer-logo-mobile");
  background-color: $special_dark-grey;

  &:hover {
    background-color: $dark-grey;
  }

  &:active {
    background-color: $light-grey;
  }
}
