.logo {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.logo__image {
  display: block;
  width: 33px;
  height: 38px;
}

.logo__text {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  @media (min-width: $tablet-width) {
    position: relative;
    left: 0;
    top: 0;
    transform: translate(0);
  }
}

@media (min-width: $tablet-width) {
  .logo__image {
    width: 60px;
    height: 50px;
  }

  .logo__text {
    width: 101px;
    height: 19px;
  }

  .logo {
    gap: 12px;
    width: fit-content;
    justify-content: flex-start;
  }
}

@media (min-width: $desktop-width) {
  .logo__image {
    width: 70px;
    height: 59px;
  }

  .logo__text {
    width: 118px;
    height: 21px;
  }

  .logo {
    gap: 14px;
    justify-content: center;
  }
}
