.logo-text {
  display: block;
  width: 128px;
  height: 24px;
  mask-size: 128px 24px;
  mask-position: center;
  mask-repeat: no-repeat;
  mask-image: url("../../images/icons/stack.svg#footer-logo-mobile");
  background-color: $black_gray;

  &:hover {
    background-color: $dark-grey;
  }

  &:active {
    background-color: $dove-grey;
  }
}
