.main-nav {
  align-items: center;
  flex-wrap: wrap;

  @media (min-width: $desktop-width) {
    position: relative;
    min-width: 500px;
    min-height: 52px;
  }
}

.main-nav__list {
  @include list-reset;
  min-width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  background-color: $white;
}

.main-nav__item {
  min-width: 100%;
  display: flex;
  align-items: center;
}

.main-nav__link {
  padding-top: 22px;
  padding-bottom: 24px;
  display: flex;
  flex-wrap: wrap;
  min-height: 66px;
  font-family: $primary-font;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  border-top: 1px $whisper solid;
  min-width: 100%;
  justify-content: center;
  color: $black;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__list {
    max-width: 437px;
    position: relative;
    gap: 33px;
    flex-direction: row;
    top: 0;
    background: none;
  }

  .main-nav__item {
    min-width: 0;
  }

  .main-nav__link {
    position: relative;
    font-size: 18px;
    line-height: 24px;
    min-height: 24px;
    padding-top: 14px;
    padding-bottom: 12px;
    border: none;
    align-items: center;
    color: $black;

    &--current::after {
      content: "";
      width: 100%;
      position: absolute;
      height: 2px;
      left: 0;
      bottom: 4px;
      background-color: $basic_green;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-nav__list {
    flex-wrap: wrap;
    gap: 33px;
    max-width: 550px;
    position: absolute;
    justify-content: flex-end;
    top: -2px;
    right: 2px;
  }

  .main-nav__item {
    min-height: 59px;
  }

  .main-nav__link {
    min-height: 52px;
    font-size: 20px;
    padding: 0;
    color: $white;
  }

  .main-nav__link--current::after {
    background-color: $white;
    bottom: 3px;
  }
}
