.main-header {
  padding-top: 13px;
  padding-bottom: 14px;

  @media (min-width: $tablet-width) {
    padding-top: 25px;
    padding-bottom: 0;
  }
}

.main-header__container {
  justify-content: space-between;
  align-items: center;
  display: flex;
  gap: 65px;
}


