.main-footer {
  color: $black;
  background-color: $basic_grey;
}

.main-footer__container {
  display: flex;
  flex-direction: column;
  gap: 19px;
  padding-bottom: 40px;
  padding-top: 40px;
  align-items: center;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 58px;
    padding-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 68px;
    padding-bottom: 66px;
  }
}

.main-footer__social {
  border-top: 1px solid $light-grey;
  border-bottom: 1px solid $light-grey;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    border: none;
    padding: 0;
    padding-left: 36px;
    width: fit-content;
    max-width: 132px;
  }
}
