.main-nav {
  color: $black;
  align-items: center;
  flex-wrap: wrap;
  transition: all 0.6s ease;

  &--closed .main-nav__list {
    display: none;
    animation: moveElement  0.6s ease;
  }

  &--nojs .main-nav__list{
    display: block;
    opacity: 1;
    transform: translateY(0);
  }
}

.main-nav__list {
  @include list-reset;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 66px;
  left: 0;
  background-color: #fff;
  z-index: 1;
  animation: moveElement  0.6s ease;
}

.main-nav__item {
  min-width: 100%;
  display: flex;
  align-items: center;
}

.main-nav__link {
  padding-top: 22px;
  padding-bottom: 24px;
  display: flex;
  min-height: 66px;
  font-family: $primary-font;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: $black;
  text-decoration: none;
  border-top: 1px $whisper solid;
  min-width: 100%;
  justify-content: center;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    color: $white;
  }
}

@media (min-width: $tablet-width) {
    .main-nav--closed {
      .main-nav__list {
        display: flex;
      }
    }

    .main-nav__list {
      position: relative;
      gap: 33px;
      flex-direction: row;
      top: 0;
      background: none;
    }

    .main-nav__item {
      min-width: 0;
    }

    .main-nav__link {
      min-height: 24px;
      padding-top: 14px;
      padding-bottom: 12px;
      border: none;

      &--current {
        border-bottom: 2px solid $basic_green;
      }
    }
}

@media (min-width: $desktop-width) {
  .main-nav__item {
    min-height: 59px;
  }

  .main-nav__link {
    min-height: 0;
    padding: 0 0 8px 0;
    &--current {
      border-bottom: 2px solid $white;
    }
  }
}
