.main-header {
  padding-top: 13px;
  padding-bottom: 14px;

  @media (min-width: $tablet-width) {
    padding-top: 25px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 55px;
  }
}


@media (max-width: $mobile-width-only) {
  .main-header__main-nav {
    position: absolute;
    transform: translateY(-300px);
    left: 0;
    right: 0;
    pointer-events: none;
    z-index: 1;
  }

  .main-header__main-nav--opened {
    transform: translateY(-33px);
    pointer-events: auto;
  }
}

.main-header__main-nav--nojs .main-nav__list {
  display: block;
  opacity: 1;
  transform: translateY(-33px);
}

.main-header__container {
  justify-content: space-between;
  align-items: center;
  display: flex;
  gap: 65px;

  @media (min-width: $tablet-width) {
    gap: 95px;
    justify-content: flex-start;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
  }
}


@media (min-width: $tablet-width) {
  .main-header__burger {
    display: none;
  }
}

.main-header__burger--active {
  .burger__line {
    background-color: transparent;
    transition: 0.1s;
  }

  .burger__line::before {
    top: 0;
    transform: rotate(45deg);
  }

  .burger__line::after {
    top: 0;
    transform: rotate(135deg);
  }
}

.main-header__main-nav--secondary {
  .main-nav__link {
    color: $black;
  }

  .main-nav__link--current::after {
    background-color: $basic_green;
  }
}
