.product-card {
  padding: 20px 20px 24px;
  display: flex;

  @media (max-width: $mobile-width-only) {
    border-top: 1px solid $grey;
  }

  @media (min-width: $tablet-width) {
    min-height: 511px;
    position: relative;
    justify-content: center;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    max-width: 245px;
    border: none;
  }
}

.product-card__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 140px);

  @media (max-width: $mobile-width-only) {
    margin: 0 auto;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: $tablet-width) {
  .product-card::before {
    content: "";
    position: absolute;
    width: 324px;
    height: 430px;
    bottom: 10px;
    right: 0;
    background-color: $basic_grey;
    z-index: -1;
  }
}

@media (min-width: $desktop-width) {
  .product-card::before {
    width: 245px;
  }
}

.product-card__link {
  display: block;
  grid-row-start: 1;
  grid-row-end: 3;
  padding-bottom: 17px;

  @media (min-width: $tablet-width) {
    padding-bottom: 23px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 12px;
  }
}

.product-card__image {
  display: block;
}

.product-card__name {
  @include indent-reset;
  font-size: 16px;
  max-width: 80px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  grid-column-start: 2;

  @media (min-width: $tablet-width) {
    padding-bottom: 23px;
    max-width: 135px;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    background-color: $basic_grey;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 28px;
  }
}

.product-card__add-to-cart {
  min-width: 280px;
  grid-column-start: 1;
  grid-column-end: 2;

  @media (min-width: $tablet-width) {
    min-width: 250px;
    transform: translateX(-1px);
  }

  @media (min-width: $desktop-width) {
    min-width: 169px;
    transform: translateX(0);
  }
}

.product-card--show-more {
  background-image: url("../../images/icons/stack.svg#plus-mobile");
  display: flex;
  flex-wrap: wrap;
  padding: 78px 20px 24px;
  flex-direction: column;
  align-items: center;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: 50% 25px;

  @media (max-width: $mobile-width-only) {
    border-bottom: 1px solid $grey;
  }

  @media (min-width: $tablet-width) {
    background-position: 50% 122px;
    background-size: 60px 60px;
    background-image: url("../../images/icons/stack.svg#plus-tablet");
  }


  &::before {
    background: none;
    border: 1px solid $basic_grey;
  }

  .product-card__title {
    @include indent-reset;
    color: $black_gray;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 10px;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 24px;
      padding: 129px 53px 22px;
    }

    @media (min-width: $desktop-width) {
      padding: 143px 34px 25px;
    }
  }

  .product-card__caption {
    @include indent-reset;
    color: $special_dark-grey;
    text-align: center;
    font-family: $second-font;
    font-size: 12px;
    line-height: 16px;

    @media (min-width: $tablet-width) {
      padding-left: 46px;
      padding-right: 44px;
      font-size: 16px;
      line-height: 18px;
      padding-bottom: 82px;
    }

    @media (min-width: $desktop-width) {
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 91px;
    }
  }

  .product-card__show-button {
    margin-top: 19px;
    min-width: 280px;

    @media (min-width: $tablet-width) {
      margin: 0;
      min-width: 250px;
    }

    @media (min-width: $desktop-width) {
      min-width: 169px;
    }
  }
}

.product-card__settings {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: -4px;
  grid-column-start: 2;

  @media (min-width: $tablet-width) {
    padding-bottom: 33px;
    width: 100%;
    background-color: $basic_grey;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 32px;
  }
}
