.programs-item__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.programs-item__description {
  font-family: $second-font;
  font-size: 14px;
  line-height: 18px;
  color: $special_dark-grey;
}

.programs-item__link {
  font-family: $primary-font;
  color: $black;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
