.programs-item__title {
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 90px;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  max-width: 400px;
  min-height: 53px;
}

.title--cat-slim {
  background-image: url("../../images/icons/stack.svg#cat-slim-mobile");
  background-size: 50px 53px;
}

.title--cat-strong {
  background-image: url("../../images/icons/stack.svg#cat-pro-mobile");
  background-size: 67px 50px;
}

.programs-item__description {
  font-family: $second-font;
  font-size: 14px;
  line-height: 18px;
  color: $special_dark-grey;
}

.programs-item__link {
  box-sizing: border-box;
  max-width: 134px;
  display: block;
  font-family: $primary-font;
  color: $black;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  padding-right: 32px;
  background-image: url("../../images/icons/stack.svg#arrow");
  background-size: 24px 10px;
  background-repeat: no-repeat;
  background-position: right;
}

