.promo {
  position: relative;
  padding-top: 27px;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    background-color: #64a73d;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;

    @media (min-width: $desktop-width) {
      background-position: left center;
    }
  }
}

@media (max-width: $mobile-width-only) {
  .promo::before {
    top: 0;
    left: 0;
    width: 100%;
    height: 302px;

    background-image: image-set(url("../../images/promo/promo-bg-mobile@1x.webp") 1x, url("../../images/promo/promo-bg-mobile@1x.jpg") 1x);

    @media (min-resolution: 2dppx) {
      &::before {
        background-image: image-set(url("../../images/promo/promo-bg-mobile@2x.webp") 2x, url("../../images/promo/promo-bg-mobile@2x.jpg") 2x);
      }
    }
  }
}

@media (min-width: $tablet-width) {
  .promo {
    padding-top: 65px;
  }

  .promo::before {
    padding-top: 65px;
    background-image: image-set(url("../../images/promo/promo-bg-mobile@1x.webp") 1x, url("../../images/promo/promo-bg-mobile@1x.jpg") 1x);

    @media (min-resolution: 2dppx) {
      &::before {
        background-image: image-set(url("../../images/promo/promo-bg-mobile@2x.webp") 2x, url("../../images/promo/promo-bg-mobile@2x.jpg") 2x);
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .promo {
    padding-top: 30px;
    padding-bottom: 30px;
    min-height: 580px;
  }

  .promo::before {
    padding-top: 65px;
    width: 50%;
    height: calc(100% + 114px);
    left: 50%;
    bottom: 0;
    z-index: -1;
    background-image: image-set(url("../../images/promo/promo-bg-desktop@1x.webp") 1x, url("../../images/promo/promo-bg-desktop@1x.jpg") 1x, url("../../images/promo/promo-bg-desktop@2x.webp") 2x, url("../../images/promo/promo-bg-desktop@2x.jpg") 2x);
  }
}

.promo__container {
  @media (min-width: $tablet-width) {
    padding-left: 110px;
    padding-bottom: 526px;
  }

  @media (min-width: $desktop-width) {
    padding: 80px 20px 0 100px;
  }
}

.promo__title {
  @include indent-reset;
  color: $white;
  font-weight: 400;
  text-align: center;
  font-size: 36px;
  line-height: 36px;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    color: $black;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 40px;
    text-align: left;
    padding: 0;

  }
}

.promo__subtitle {
  @include indent-reset;
  color: $white;
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  padding-bottom: 302px;

  @media (min-width: $tablet-width) {
    color: $black;
    font-size: 20px;
    text-align: left;
    line-height: 20px;
    margin-bottom: 50px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 52px;
  }
}

.promo__image {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 43px;

  @media (min-width: $tablet-width) {
    bottom: 0;
    z-index: -1;
  }

  @media (min-width: $desktop-width) {
    bottom: 52px;
    transform: translateX(-162px);
  }
}

.promo__find-program {
  @media (max-width: $mobile-width-only) {
    display: block;
  }

  @media (min-width: $tablet-width) {
    padding: 14px 26px;
    font-size: 20px;
    line-height: 26px;
    min-width: 244px;
  }
}
