.promo {
  &__title {
    color: $white;
    font-weight: 400;
    text-align: center;
    font-size: 36px;
    line-height: 36px;
  }

  &__subtitle {
    color: $white;
    text-align: center;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
  }

  &__find-program {
    background-color: $basic_green;
    color: $white;
    font-family: $primary-font;
    text-decoration: none;
  }
}
