.slider__title {
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.slider__wrapper {
  display: block;
  max-width: 280px;
  position: relative;
}

.slider__wrapper-img {
  &--before {
    display: block;
    position: relative;
  }

  &--after {
    top: 0;
    display: block;
    position: absolute;
  }
}

.slider__wrapper-thumb {
  width: 4px;
  height: 100%;
  border: none;
  padding: 0;
  border-radius: 2px;
  background-color: $medium_dark-grey;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &::before {
    width: 40px;
    height: 40px;
    border: 2px solid $medium_dark-grey;
    border-radius: 50%;
    background-color: $white;
  }

  &::after {
    width: 40px;
    height: 40px;
    mask-image: url("../../images/icons/stack.svg#thumb-arrows");
    background-color: $medium_dark-grey;
  }

  &:hover {
    background-color: $basic_green;

    &::after {
      background-color: $basic_green;
    }
  }

  &:active {
    background-color: $basic_dark-green;
    opacity: 0.6;

    &::after {
      background-color: $basic_dark-green;
    }
  }
}
